/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* @group Mixins */
/* @group gradients */
/* @end */
/* @end */
/* @group Presentation */
body {
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat-x;
  margin: 0; }

.zone-menu-wrapper {
  margin-top: 35px;
  position: relative; }

.zone-menu-wrapper::before {
  background-attachment: scroll;
  background-color: transparent;
  background-repeat: no-repeat;
  content: " ";
  display: block;
  position: absolute;
  visibility: visible; }

.zone-menu-wrapper::before {
  background-image: url("../images/swoop-top.png");
  background-position: left bottom;
  height: 35px;
  width: 581px;
  left: 0;
  top: -35px; }

.zone-content {
  box-shadow: 0 0 3px black; }

/* @end */
