/* This file will hold the main styles for your website. */

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$s1: rgb(204, 30, 83);
$s1_dark_20: darken($s1, 10%);
$s2: rgb(197, 77, 111);
$s2_dark_20: darken($s2, 10%);
$s3: rgb(217, 152, 0);
$s3_light_20: lighten($s3, 10%);

/* @group Mixins */

/* @group gradients */

@mixin gradient($start-color, $start-loc, $end-color, $end-loc, $type: linear, $rotation: -90deg) {
  background-image: -moz-#{$type}-gradient(
    #{$rotation},
    #{$start-color} #{$start-loc}, 
    #{$end-color} #{$end-loc});
  background-image: -o-#{$type}-gradient(
    #{$rotation},
    #{$start-color} #{$start-loc}, 
    #{$end-color} #{$end-loc});
  background-image: -webkit-#{$type}-gradient(
    #{$rotation},
    #{$start-color} #{$start-loc}, 
    #{$end-color} #{$end-loc});
  background-image: #{$type}-gradient(
    #{$rotation},
    #{$start-color} #{$start-loc}, 
    #{$end-color} #{$end-loc});
}

/* @end */

/* @end */

/* @group Colors */

a {
  color: $s3;
  &:link { color: $s3; }
  &:visited { color: $s3; }
}

a {
  color: $s3;
  &:hover { color: lighten($s3, 10%); }
  &:focus { color: lighten($s3, 10%); }
  &:active { color: lighten($s3, 10%); }
}

.zone-menu-wrapper,
.section-footer {
  a {
    color: $white;
    &:link { color: $white; }
    &:visited { color: $white; }
    &:hover { color: $white; }
    &:focus { color: $white; }
    &:active { color: $white; }
  }
}

/* @end */

/* @group Presentation */

body {
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 90%;
  }
}

.site-name {
  font: {
    size: xx-large;
  }
}

.section-header,
.zone-branding {
  margin: {
    bottom: 12px;
    top: 12px;
  }
}

.zone-menu-wrapper {
  background: {
    color: $s1; 
  }
  box: {
    shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}

.zone-menu {
  padding: {
    bottom: 6px;
    top: 6px;
  }
}

.section-content {
  background: {
    attachment: scroll;
    color: transparent;
    image: transparent;
    position: left top;
    repeat: repeat, repeat, repeat, repeat, repeat;
  }
  padding: {
    top: 18px;
  }
}

.zone-content {
  background: {
    color: $white;
    color: transparentize($white, 0.1);
    clip: padding-box;
  }
  border: {
    color: transparent;
    style: solid;
    width: 10px 10px 0;
  }
  padding: {
    bottom: 54px;
    top: 5px;
  }
}

.zone-content {
  font: {
    size: small;
  }
}

.zone-content h2 {
  font: {
    size: medium;
  }
}

#section-footer {
  background: {
    color: $s2;
  }
  border: {
    top: 12px solid $s1;
  }
  padding: {
    bottom: 36px;
    top: 36px;
  }
}

.site-name {
  margin: {
    bottom: 0;
    top: 0;
  }
}

.site-name {
  a {
    color: $black;
    text: {
      decoration: none;
    }
  }
}

aside {
  ul {
    list: {
      style: {
        position: inside;
      }
    }
  }
}

#breadcrumb {
  font: {
    size: 75%;
  }
}

/* @end */

/* @group Components */

/* @group Nice menus */

ul.nice-menu,
ul.nice-menu-down {
  background: {
    color: transparent;
  }
  li,
  li.menuparent {
    background:  {
      color:  transparent;
    }
    border: 0 none;
    a {
      background: {
        color: transparent;
      }
    }
  }
  li {
    li.menuparent {
      background: {
        image: url("../images/arrow-right.png");
        position: right center;
      }
      &:hover {
        background: {
          image: url("../images/arrow-right.png");
        }
      }
    }
  }
  li.menuparent {
    background:  {
      image: url("../images/arrow-down.png");
    }
    &:hover {
      background:  {
        color:  transparent;
        image: url("../images/arrow-down.png");
      }
    }
    ul {
      border: 0 none;
    }
    li {
      background: {
        color: $s1;
      }
    }
  }
}

ul.nice-menu > li + li {
  margin: {
    left: 12px;
  }
}

/* @end */

/* @end */